{% extends 'base.html' %}
{% load i18n static %}

{% block page-title %}{% trans 'Compress image test' %}{% endblock page-title %}
{% block body-class%}compress-image{% endblock body-class %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img id="source-image-vertical" src="{% static 'images/big-ben-vertical.jpg' %}">
        </div>
        <div class="col-md-6">
            <img id="target-image-vertical" src="{% static 'images/spinner.jpg' %}">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <img id="source-image-horizontal" src="{% static 'images/big-ben-horizontal.jpg' %}">
        </div>
        <div class="col-md-6">
            <img id="target-image-horizontal" src="{% static 'images/spinner.jpg' %}">
        </div>
    </div>

</div>

{% endblock content %}


{% block extrastyle %}
    {{ block.super }}

    <style>
        img {
            border: 2px solid black;
            width: 300px;
        }
    </style>

{% endblock extrastyle %}


{% block extrajs %}
    {{ block.super }}
    <script src="https://unpkg.com/blob-util/dist/blob-util.min.js"></script>
    <script src="{% static 'upload_form/resize_image.js' %}"></script>
    <script>

        function display_image_size(elements, name) {
            $.each(elements, function(index, item) {
                var w = item.naturalWidth;
                var h = item.naturalHeight;

                var html = '<div>' + w + 'x' + h;
                if (name) {
                    html += ' ' + name;
                }
                html += '</div>';
                $(item).parent().append(html);
            })
        }

        $(document).ready(function($) {

            display_image_size($('#source-image-vertical'));
            display_image_size($('#source-image-horizontal'));

            blobUtil.imgSrcToBlob($('#source-image-vertical').get(0).src).then(function(blob) {
                UploadFormResize.resize_image_to_DataURL(blob, 1000).done(function(dataUrl) {
                    var targetImage = $('#target-image-vertical');
                    targetImage.on('load', function(event) {
                        display_image_size(targetImage);
                    });
                    $('#target-image-vertical').attr('src', dataUrl);
                })
            });

            blobUtil.imgSrcToBlob($('#source-image-horizontal').get(0).src).then(function(blob) {
                UploadFormResize.resize_image_to_DataURL(blob, 1000).done(function(dataUrl) {
                    var targetImage = $('#target-image-horizontal');
                    targetImage.on('load', function(event) {
                        display_image_size(targetImage);
                    });
                    $('#target-image-horizontal').attr('src', dataUrl);
                })
            });

        });
    </script>
{% endblock extrajs %}

