

.uploadform_drop_area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.uploadform_drop_area.highlight {
    border-color: #69f;
    background-color: #666;
}


.uploadform_drop_area .file_list_input label {
    width: 60%;
    padding: 10px;
    font-size: 1.8em;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    color: #444;
    background-color: #999;
    border-radius: 20px;
}

.uploadform_drop_area label p {
    text-align: center;
}

.uploadform_drop_area label img {
    text-align: center;
    height: 60px;
    width: 100%;
    color: #444 !important;
}

.uploadform_drop_area .file_list_wrapper table {
    margin: 0 auto;
    width: 80%;
    color: #999;
    border: 1px solid #999;
}

.uploadform_drop_area .file_list_wrapper table th,
.uploadform_drop_area .file_list_wrapper table td {
    border: 1px solid #999;
    padding: 0 4px;
}

.uploadform_drop_area .file_list_wrapper table th {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.uploadform_drop_area .file_list_wrapper td.delete {
    text-align: center;
}

.uploadform_drop_area .file_list_wrapper button img.icon {
    height: 20px;
}

.uploadform_drop_area .errorlist {
    list-style: dash;
}

.uploadform_drop_area .errorlist li {
    padding: 0;
    margin: 0;
    text-align: left;
}

.uploadform_drop_area .submit button {
    margin: 10px 0;
}

.uploadform_drop_area .uploadform_file_list img.icon {
    height: 12px;
    /*width: 100%;*/
}

.uploadform_drop_area .file_list_wrapper .progress {
    margin-bottom: 10px;
}

.uploadform_drop_area .extra_fields {
    margin-bottom: 10px;
}

.uploadform_drop_area .extra_fields .form-row.errors {
    border: 1px solid red;
}

